<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589210616457-iq4k1fviqu5p6p1q7809nn2tt9jd49lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589210616457-iq4k1fviqu5p6p1q7809nn2tt9jd49lu</string>
	<key>API_KEY</key>
	<string>AIzaSyD5zp0NSIqIVYkwCA9ZNPoLXDQzAWFgPhU</string>
	<key>GCM_SENDER_ID</key>
	<string>589210616457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.flat112.EpicSchoolHomework</string>
	<key>PROJECT_ID</key>
	<string>epicschoolhomework</string>
	<key>STORAGE_BUCKET</key>
	<string>epicschoolhomework.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589210616457:ios:8ce267a4d17eb9f1247c58</string>
	<key>DATABASE_URL</key>
	<string>https://epicschoolhomework-default-rtdb.firebaseio.com</string>
</dict>
</plist>